{% load static %}
html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    color: rgb(24,93,130);
}
html{
    font-family: poppins;
    color: rgb(11,76,110);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,0.5) 0 0 1px;
}
.first-bg{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.pres-logo-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 17% 0px 5%;
    box-sizing: border-box;
}
.logo-container{
    height: 180px;
    width: 180px;
    text-align: center;
}
.logo-container img{
    height: 100%;
    margin: auto;
}
.pres-container{
    background-color: white;
    padding: 5px 20px;
    width: 300px;
    height: 170px;
    font-family: Poppins;
}
.paragraph{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.important{
    font-weight: 500;
    font-size: 34px;
    line-height: 50%;
}
.secondary{
    font-size: 28px;
    font-weight: 300;
}
.third{
    font-size: 25px;
    line-height: 200%;
}
.separation-bar{
    width: 80%;
    height: 2px;
    background-color: rgb(11,76,110);
    margin: auto;
}
.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 0 18%;
    position: absolute;
    top: 8%;
    width: 100vw;
    height: 50px;
    background-color: white;
}
.menu-item{
    font-family: poppins;
    font-weight: 300;
    font-size: 20px;
}

.feather{
    vertical-align: middle;
    margin-right: 10px;
}
.site-menu{
    flex: 6;
    flex-direc
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 2vw;
    font-size: 1.5vw;
}
.site-menu a,a:visited,a:active,a:link{
    margin-left: 20px;
    display: inline-block;
    text-decoration: none;
    color: rgb(24,93,130);
}
.site-menu a:hover{
    color: rgb(125,167,189);
}
.dropdown{
    display: inline-block;
    position: relative;
}
.drop-content{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px 0px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
}
.drop-content a{
    display: block;
    font-size: 1vw;
    margin-top: 10px;
}
.dropdown:hover .drop-content{
    display: block;
}
.contact{
    font-size: 1.2vw;
    border: 2px rgb(24,93,130) solid;
    padding: 0.2vw 0.5vw;
}
.contact:hover{
    border: 2px rgb(125,167,189) solid;
}
.bg2{
    height: 50%;
}
.bg3{
    height: 50%;
}
.bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-container{
    width: 100%;
    text-align: center;
    padding-top: 25vh;
    color: white;
}
.title-div{
    display: inline-block;
    padding: 0.5vw 3vw;
    background-color: rgba(0,0,0, 0.2);
    border: 1px white solid;
}
#contact{
    padding: 2vw 10vw;
    box-sizing: border-box;
    text-align: center;
    width: auto;
}
.contact-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
}
input[type=text], select, textarea, input[type=email] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid rgb(24,93,130); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}
button[type=submit]:hover {
  background-color: #45a049;
}
.title-form{
    width: 100%;
}
.contact-link{
    margin: 0px;
    margin-top: 20px;
}
.contact-description{
    max-width: 60%;
    flex-grow: 20;
    text-align: left;
}
.contact-form{
    text-align: left;
    flex-grow: 1;
    max-width: 60%;
}
.part-title{
    text-align: center;
}

.big-part{
    width: 100%;
    padding: 2vw;
}

.footer-information{
    padding: 2vw;
    text-align: center;
}

.footer-information div{
    margin: 0px 50px;
    display: inline-block;
    font-size: 1vw;
    text-align: left;
    vertical-align: top;
}
.footer-information a{
    margin: 0px;
}
.footer-information div .feather{
    margin-right: 5px;
    height: 15px;
}

@media screen and (max-width: 800px) {
    .pres-logo-container {
        flex-direction: column;
        padding: 10vh 0px 18vh 0px;
    }
    .menu-container{
        top:0;
        height:100vh;
        flex-direction: column;
    }
    .hidden-menu{
        display: none;
    }
    .contact-container{
        flex-direction: column;
    }
    #contact{
        padding: 2vw;
    }
}