{% load static %}

<div class="slideshow-container" id="galerie">
    {% for picture in pictures %}
    <div class="slides-image fade" style="background: url('{{ picture.url }}') center center / cover no-repeat;">
        <div class="slide-number">{{ forloop.counter }} / {{ number_of_pictures }}</div>
        <img src="{{ picture.url }}" style="height:100%; object-fit: cover; display:none">
        <div class="slide-text">{{ picture.description }}</div>
    </div>
    {% endfor %}
    <a class="slides-prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="slides-next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br />
<div style="text-align:center">
    {% for picture in pictures %}
    <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
    {% endfor %}
</div>